html, body {
  margin: 0px;
  padding: 0px;
}

.h-full {
  height: 100vh;
}

.h-100 {
  height: 100%;
}

.food-item-row {
  .food-image-container {
    .food-image {
      width: 150px;
    }
  }
  .food-content-container {
    .food-type {
      width: 15px;
    }
  }
}